@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0d192c;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 24px;
}

.card {
    background-color: #15263f;
    min-width: 300px;
    max-width: 350px;
    padding: 24px;
    border-radius: 15px;
}

.img-container {
    position: relative;
}

.img-container:hover {
    cursor: pointer;
}

.nft-img {
    width: 100%;
    display: block;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: hsla(178, 100%, 50%, 0.5);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.2s;
}

.overlay-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container:hover .overlay {
    opacity: 1;
}

.nft-info {
    margin-top: 24px;
}

.nft-link {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    margin-bottom: 12px;
    display: inline-block;
    transition: color 0.15s;
}

.nft-link:hover {
    cursor: pointer;
    color: #00fff8;
}

.nft-description {
    color: #8bacd9;
    font-size: 18px;
    font-weight: 300;
    line-height: 26px;
}

.nft-pricing {
    margin: 15px 0;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #2e405a;
}

.price {
    color: #00fff8;
    font-size: 15px;
    gap: 6.48px;
}

.timer {
    color: #8bacd9;
    font-size: 15px;
    gap: 7.7px;
}

.price, .timer {
    display: flex;
    align-items: center;
}

.creator {
    display: flex;
    align-items: center;
    gap: 16px;
}

.creator-img {
    width: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.creator-text {
    color: #8bacd9;
    font-size: 15px;
}

.creator-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.15s;
}

.creator-link:hover {
    cursor: pointer;
    color: #00fff8;
}